!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.lnk
*.log
*.sassc
*.sublime-*
*.sublime-workspace
*.swo
*.swp
*.tmproj
*/node_modules
*~
.*cache
.DS_Store
.c9/
.classpath
.divshot-cache
.env
.eslintcache
.jekyll-cache/
.jekyll-metadata
.monitor
.node_modules
.npm
.powenv
.powrc
.project
.rails_dev
.rvmrc
.sass-cache/
.settings/
.vscode/*
.tmp/
/.bundle
/.idea
/.sass-cache
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/bower_components
/bower_components/*
/build/*
/connect.lock
/coverage
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/dist
/e2e/*.js
/e2e/*.map
/libpeerconnection.log
/log/*.log
/node_modules
/node_modules/*
/out-tsc
/tmp
/typings
/vendor/
/web/bundles/
Forwardfile
node_modules
build
npm-debug.log
# Gemfile
Gemfile.lock
Thumbs.db
_files
_site/
backup
cache/*
composer.phar
config/*_local.yml
config/application.yml
config/aws.yml
config/database.yml
config/mongoid.yml
config/redis.*.conf
coverage/
custom_plan.rb
db/redis*
log
log/**/*
logs
node_modules/
npm-debug.log*
package-lock.json
# package.json
sites/*/files
sites/*/private
sites/*/settings*.php
testem.log
vendor/bundle
vendor/gems/*
yarn-debug.log*
yarn-error.log
yarn-error.log*
zeus.json
!wp-content/
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/plugins/hello.php
wp-content/themes/twenty*/
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
.env.local
.env.*.local
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?